
.consultancy-card-text{
    text-align: justify;
}
.course-card-text{
    text-align: justify;
}

.cv-card-text{
    text-align: justify;
}

.certificate-card-text{
    text-align: justify;
}

.consultancy-text{
    margin-left: 2px;
    text-align: justify;
}
.course-text{
    text-align: justify;
}

.cv-text{
    text-align: justify;
}

.certificate-text{
    text-align: justify;
}

.readmore-btn:hover{
    transform: scale(1.01);
    box-shadow: 0 10px 20px rgba(4, 0, 10, 0.12), 0 4px 8px rgba(43, 41, 41, 0.06);
    opacity: 0.8;
}

.offer-arrow:hover{
    color: #8CACD2;
}
.offer-arrow{
    font-size: 40px;
    font-weight: bold;
    position: relative;
    animation-name: arrowright;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    
}

@keyframes arrowright{
    0% { left: 0;

    }
    50%{ left: 15px;

    }
    100%{
        left:0
    }
}

@media screen and (max-width: 760px) {

.consultancy-col-img{
    margin-left: 16px;
    margin-right: 16px;
}


.course-col-img{
    margin-left: 16px;
    margin-right: 16px;
}


.cv-col-img{
    margin-left: 16px;
    margin-right: 16px;
}

.certificate-col-img{
    margin-left: 16px;
    margin-right: 16px ;
}
}