.hero-title{
    text-align: justify;
}


.hero-about-btn:hover{
    border-color: aliceblue;
    background-color: #8CACD2;
}

.hero-offer-btn:hover{
    border-color: aliceblue;
    background-color: #8CACD2;
}


@media screen and (max-width: 640px) {

    .hero-card-container{
     height: 100vh;
    }

    .hero-btn{
        display: block;
     
    }
    .hero-about-btn{
    margin-bottom: 20px ;
    margin-left: 5px;
    width: 70%;


    }
    .hero-offer-btn{
    padding-left: 0px;
    margin-left: 0px;
    background-color: #044163;
    }
  
}