

.travel-list {
    padding-top: 1.9em;
    list-style-image: url(../../img/travel_check_icon.png);   
}

.travel-list li {
    opacity: 0.7;
    transition: 0.3s;
}

.highlight {
    transition: 0.3s;
    transform: scale(1.04);
    opacity: 1 !important;
}

.un-highlight {
    transition: 0.3s;
    transform: scale(1);
    opacity: 0.7;
}


.travel-content-wrapper li {
    font-size: 1.5rem;
    padding-bottom: 1em;
    padding-left: 1.5rem;
    padding-top: 0;
    
}

.travel-content-wrapper li span {
    display: block;
    font-size: 1rem;
    font-weight: 300;
}

.travel-skill{
   text-align: justify;
}

.travel-img-parent {
    cursor: pointer;
    transition: 0.5s;
}

.travel-img-parent:hover {
    transform: scale(0.8) rotate(-15deg);
}

@media only screen and (max-width: 760px) {
    .travel-img-col {
        display: none !important;
    }

    .travel-section-wrapper {
        margin-top: 500px;
    }
}


@media only screen and (max-width: 380px) {
    .travel-section-wrapper {
        /* height: 100vh; */
        margin-top: 600px;
        margin-bottom: 400px;
        /* padding-left: 10px;
        padding-right: 10px; */
        margin-left: 16px;
        margin-right: 24px;
    }
    
    .travel-img-col {
        height: 100vh;
        display: none !important;
    }
    
    .travel-content-col {
        height: 100vh;
        padding-top: 3rem;
    }

}

