

.travel-list {
    padding-top: 1.9em;
    list-style-image: url(../../img/travel_check_icon.png);
    
}

.travel-content-wrapper li {
    font-size: 1.5rem;
    padding-bottom: 1em;
    padding-left: 1.5rem;
    padding-top: 0;

}

.travel-content-wrapper li span {
    display: block;
    font-size: 1rem;
    font-weight: 300;
}

.travel-skill{
   text-align: justify;
}
@media screen and (max-width: 760px) {
    .travel-section-wrapper {
        height: 100vh;
        margin-top: 600px;
        margin-bottom: 200px;
        /* padding-left: 10px;
        padding-right: 10px; */
        margin-left: 16px;
        margin-right: 24px;
    }
    
    .travel-img-col {
        height: 100vh;
        display: none !important;
    }
    
    .travel-content-col {
        height: 100vh;
        padding-top: 3rem;
    }

}

