.bookaservice-btn:hover{
    border-color: aliceblue;
     background-color: #8CACD2;
}

.service-field{
    display: block;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid rgba(0,0,0,0.2)
}

.calendly-btn {
    width: 100%;
    color: #fff;
    padding: 8px;
    background-color: #044163;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 5px;
}

@media screen and (max-width: 760px) {
    .modal-90w {
        width: 90vw;
      }
      /* .bookaservice-btn{


      } */

}

.hide {
    display: none;
}

.show {
    display: block;
}
