.poweredbydoyenify-header:hover{
  color:#ffffff ;  
}

.doyacad {
  background-color: #038134;
  border: 1px solid #69C9E2;
}

.doyacad:hover {
  background-color: #038134;
  border: 1px solid #fff;
}